*.gem
.bundle
.sass-cache
_site
Gemfile.lock

vendor/cache
.jekyll-cache


.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

commit-message.txt

.DS_Store

encryption.html
_drafts